 body{
  background-image: url('../img/42331.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.button-left{
  overflow: hidden;
  background-color: gray;
}
.button-left a{
float:left;
color: white;
text-align: center;
padding: 15px 17px;
text-decoration: none;
font-size: 18px;

}
.button-left a:hover{
background-color: #ddd;
color: black;
}
.active{
  overflow: hidden;
background-color: #000;
color: white;
float:right;
}
.pic{
  width:150px;
  height:150px;
  left:45%;
  position: absolute;
}
bu {
  background-color: #4CA84A;
  color: #556155;
  text-align: center;
  font-size: 350%;
  padding: 20px;
  display: block;
  width: 30%;
  height:20%;
  margin-left: auto;
  margin-right: auto;
}

bu:hover {
  background-color: lightgreen;
}
p{
  color: black;
  font-size: 150%;
  background-color: lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height:50%;
}
